<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">TODOlist</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="/signin">Login</a>
			      </li>
			       <li class="nav-item">
			        <a class="nav-link" href="/signup">Registration</a>
			      </li>
			    </ul>
			     
			  </div>
</nav>

<section >
<div class="container">
	<div class="row">
	
		<div class="col-sm-3 col-lg-3 notak">
			<p>has much tasks need to manage it , how come </p>
			<p>signup then add your taskss , it is easy to use </p>
		</div>
		<div class="col-sm-3 col-lg-3 notak">
			<p>has much tasks need to manage it , how come </p>
			<p>signup then add your taskss , it is easy to use </p>
		</div>
		<div class="col-sm-3 col-lg-3 notak">
			<p>has much tasks need to manage it , how come </p>
			<p>signup then add your taskss , it is easy to use </p>
		</div>
		<div class="col-sm-3 col-lg-9 offset-lg-1 info">
			<p>has much tasks need to manage it , how come , signup then add your taskss , it is easy to use </p>
		</div>
		</div>
	</div>

</section>
  
			  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
			   <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>
